services:
  app:
    build: .
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.25
    stdin_open: true
    tty: true
    command: npx expo start --tunnel